<div class="hdp" dir="rtl">
  <p-dropdown
    class="hdp__part"
    styleClass="w-full"
    [options]="dayOptions"
    [(ngModel)]="day"
    (onChange)="onDayChange()"
    [disabled]="disabled"
    placeholder="יום"
    ariaLabel="יום"
    appendTo="body"
  ></p-dropdown>
  <p-dropdown
    class="hdp__part hdp__month"
    styleClass="w-full"
    [options]="monthOptions"
    [(ngModel)]="month"
    (onChange)="onMonthChange()"
    [disabled]="disabled"
    placeholder="חודש"
    ariaLabel="חודש"
    appendTo="body"
  ></p-dropdown>
  <p-dropdown
    class="hdp__part"
    styleClass="w-full"
    [options]="yearOptions"
    [(ngModel)]="year"
    (onChange)="onYearChange()"
    [disabled]="disabled"
    placeholder="שנה"
    ariaLabel="שנה"
    appendTo="body"
  ></p-dropdown>
</div>
